{% extends 'base.html' %}

{% block titulo %}
Actualizar trámite
{% endblock %}

{% block contenido %}

    {% if form %}
        <form enctype="multipart/form-data" action="" method="POST" class="FormularioActualizar">
            <h2 style="text-align: center ;">Complete los campos a actualizar</h2>
            {% csrf_token %}
            <br/>
            <table>
                {{form.as_table}}
            </table>
            <input type="submit" , value="Enviar">
        </form>
    {% endif %}

{% endblock %}