{% extends 'base.html' %}

{% block titulo %}
Trámites
{% endblock %}

{% block contenido %}
{% if form %}
   
    <form enctype="multipart/form-data" action="" method="POST" method="POST" class="FormularioCrearTramites" style="width: 500px;margin-top: 1%;margin-left: 30%;" >
        {% csrf_token %}
        <table>
            <br/>
            <h3>Crea tu trámite</h3>
            <br/>
            <b>{{form.as_table}}</b>
        </table>
        <input type="submit", value="Enviar!" class="Boton">
    </form>
{% elif new_tramite %}

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src=".../100px180/" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{new_tramite.nombre_tramites}}</h5>
            <p class="card-text">{{new_tramite.pais}}</p>
            <p class="card-text">{{new_tramite.descripcion}}</p>
            
        </div>
    </div>

{% endif %}
{% endblock %}
  

