{% extends 'base.html' %}

{% block titulo %}
    Detalle de tramite
{% endblock %}

{% block contenido %}
<div enctype="multipart/form-data" class="d-flex" style="margin-top:1rem; margin-left:15rem">
    <div class="card mb-3" style="width: 800px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            {% if object.image %}
            <img class="card-img-top" src="{{object.image.url}}" alt="Card image cap" style="height: 200px;width: 100%;">
            {% endif %}
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{object.nombre_tramites}}</h5>
              <p class="card-text">{{object.pais}}</p>
              <p class="card-text">{{object.fecha}}</p>
              <p class="card-text">{{object.autor}}</p>
              <p class="card-text"><small class="text-muted">{{object.descripcion}}</small></p>
              <a href="/ver-tramites/" class="Boton">Ver mas tramites</a>
               {% if request.user.is_authenticated and request.user.is_superuser %}
                    <a href="/actualizar-tramites/{{object.id}}/" class="Boton">Editar </a>
               {% endif %}
              
            </div>
          </div>
        </div>
      </div>


{% endblock %}