{% extends 'base.html' %}

{% block titulo %}
Trámites
{% endblock %}

{% block contenido %}
<div class="d-flex" style="margin-top:1rem; margin-left: 1rem; ">
    {% for tramite  in  tramites %}

    <div class="card" style="width: 18rem;">
        {% if tramite.image %}
        <img src="{{tramite.image.url}}" style="min-width: 250px; min-height:200px;max-width: 300px; max-height:200px;" class="card-img-top" >
        {% endif %}
        <div class="card-body">
            <h5 class="card-title"><b>{{tramite.nombre_tramites}}</b></h5>
            <p class="card-text"><b>Pais:</b> {{tramite.pais}}</p>
            <a href="/detalle-tramite/{{tramite.id}}/" class="Boton">Ver mas</a>
        {% if request.user.is_authenticated and request.user.is_superuser %}
            <a href="/actualizar-tramites/{{tramite.id}}/" class="Boton">Editar</a>
            <a href="/borrar-tramites/{{tramite.id}}/" class="Boton">Eliminar</a>
        {% endif %}
        </div>
    </div>

    {% endfor %}
</div>
<br>
<br>

{% endblock %}
