{% extends 'base.html' %}

{% block titulo %}
    Productos
{% endblock %}

{% block contenido %}
<div class="d-flex" style="margin-top:5rem; margin-left:7rem">
    {% if  tramites or experiencias   %}
        {% for experiencia in experiencias  %}

        <div class="card" style="width: 18rem;">
            {% if experiencia.image %}
            <img src="{{experiencia.image.url}}" style="min-width: 250px; min-height:200px;max-width: 2000px; max-height:200px;" class="card-img-top" >
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{experiencia.titulo}}</h5>
                <p class="card-text">{{experiencia.cuerpo}}</p>
                <p class="card-text">{{experiencia.pais}}</p>
                <p class="card-text">{{experiencia.fecha}}</p>
                <p class="card-text">{{experiencia.autor}}</p>
            </div>
        </div>

        {% endfor %}
        {% for tramite in tramites  %}
                <div class="card" style="width: 18rem;">
                    {% if tramite.image %}
                    <img src="{{tramite.image.url}}" style="min-width: 250px; min-height:200px;max-width: 300px; max-height:200px;" class="card-img-top" >
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{tramite.nombre_tramites}}</h5>
                        <p class="card-text">{{tramite.pais}}</p>
                        <p class="card-text">{{tramite.descripcion}}</p>
        
                    </div>
                </div>

        {% endfor %}

    {% else %}
        <h1>No se encontro tu busqueda</h1>
    {% endif %}
</div>

{% endblock %}