{% extends 'base.html' %}

{% block titulo %}
     Carolina Mogni
{% endblock %}

{% block contenido %}
<div enctype="multipart/form-data" class="d-flex" style="width: 100%; ">
    <div class="card mb-3" style="max-width: 500px;">
        <div class="row no-gutters" style="background-color: rgb(172, 172, 153);; color: aliceblue; ">
          <div class="col-md-4" >
            <img class="card-img-top" src="\media\imagenes_creadores\carolina.jpeg" alt="Card image cap" style="height: 100%;width: 100%;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Carolina Mogni</h5>
              <p class="card-text " ><small class="text-white" > 26 años, vivo en Córdoba Capital. Estoy terminando la carrera de análisis en sistemas y trabajando en seguridad informática. Aprendiendo python para poder desarrollar la tesis y porque me parece un lenguaje muy versátil, útil y con muchas capacidades. </small></p>
            </div>
          </div>
        </div>
      </div>
       {% endblock %}


