{% extends 'base.html' %}

{% block titulo %}
    Demian Gomez
{% endblock %}

{% block contenido %}
<div enctype="multipart/form-data" class="d-flex" style="margin-top:1rem; margin-left:27rem">
    <div class="card mb-3" style="max-width: 500px; ">
        <div class="row no-gutters" style="background-color: rgb(113, 149, 174);; color: rgb(253, 253, 254); ">
          <div class="col-md-4" >
            <img class="card-img-top" src="\media\imagenes_creadores\demian.jpeg" alt="Card image cap" style="height: 75%;width: 100%;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Demian Gomez</h5>
              <p class="card-text"><small class="text-white"> 21 años, naci en Rosario, me decidi a estudiar python  ya que me recomendo un amigo que hoy en dia trabaja en una empresa como programador, y me dijo que python para El era el lenguaje de programacion mas facil para entender los conceptos de la programacion y estaba en la razon, asi que me meti de lleno  a estudiar  en coder porq me parecio el curso que mas transparente en cuestion de contenido. </small></p>
            </div>
          </div>
        </div>
      </div>
      {% endblock %}


