{% extends 'base.html' %}

{% block titulo %}
    Esteban Lavezzo
{% endblock %}

{% block contenido %}
<div enctype="multipart/form-data" class="d-flex" style="margin-top:1rem; margin-left:27rem">
    <div class="card mb-3" style="max-width: 500px;">
        <div class="row no-gutters" style="background-color: rgb(113, 149, 174); color: rgb(253, 253, 254); ">
          <div class="col-md-4" >
            <img class="card-img-top" src="\media\imagenes_creadores\esteban.jpeg" alt="Card image cap" style="height: 75%;width: 100%;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Esteban lavezzo</h5>
              <p class="card-text"><small class="text-white"> 32 años, bonaerense de nacimiento, hoy viviendo en el barrio de Floresta. Actualmente me desempeño como operador técnico de radio en Rivadavia AM630 y La 990 AM990. Me considero alguien inquieto y curioso, y creo que eso me llevo a querer aprender algo nuevo en mí vida y que me brinde una alternativa profesional en el futuro. Un amigo (que hace varios años trabaja como programador) me hablo de Python y su enorme cantidad de usos, por lo que me decidí meterme en este mundo y, de momento, me parece muy interesante y que constantemente desafía mentalmente a quien utiliza éste lenguaje. </small></p>
            </div>
          </div>
        </div>
      </div>
      {% endblock %}

