{% extends 'base.html' %}

{% block titulo %}
    Nosotros
{% endblock %}

{% block contenido %}
<div class="Nosotros">
    <div class="Nosotros2">
        <h2 class="Creadores"><b>Creadores </b></h2>
        <br/>
        <h5 style="color: rgb(21, 115, 223);">Elige un programador:</h5>
        <br/>
        <h5 class="NosotrosNombres"><b> <a style="color: rgb(255, 255, 255); text-decoration: none;" href="/esteban/">Esteban Lavezzo</a></h5>
        <br/>
        <h5 class="NosotrosNombres"><b> <a style="color: rgb(255, 255, 255); text-decoration: none;" href="/demian/">Demian Gomez</a></h5>
        <br/>
        <h5 class="NosotrosNombres"><b> <a style="color: rgb(255, 255, 255); text-decoration: none;" href="/carolina/">Carolina Mogni</a></h5>
    </div>     
</div>
{% endblock %}