{% extends 'base.html' %}

{% block titulo %}
    Detalle de tramite
{% endblock %}

{% block contenido %}
<div enctype="multipart/form-data" class="d-flex" style="margin-top:1rem; margin-left:7rem">

    <div class="card" style="width: 18rem;">
        {% if object.image %}
           <img class="card-img-top" src="{{object.image.url}}" alt="Card image cap">
        {% endif %}
        <h5 class="card-title">{{object.nombre_tramites}}</h5>
        <p class="card-text">{{object.pais}}</p>
        <p class="card-text">{{object.descripcion}}</p>
        
        </div>
    </div>

</div>

{% endblock %}